<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>Mobilna banka</title>
  <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.0-rc.2/angular.js" data-semver="1.4.0-rc.2"></script>
  <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body ng-controller="glController">
  <div class="container">
    <h1 class="firstWord">Super<span class="secondWord">Banka</span></h1>
    <hr />
    <!--<p>Hello {{racun.name}}! You currently have a balance of: {{racun.runningBalance | currency}}-->
      <!--</p>-->
      <h4 class="alert alert-default" ng-bind-template="Pozdravljeni {{racun.name}} vaše stanje je: {{racun.runningBalance | currency}}" moneywarn="racun.runningBalance" data-startbalance="{{racun.startingBalace}}"></h4>

      <div class="row">
        <div class="col-md-12">

          <div class="panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Opravi transakcijo:</h3>
            </div>
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                 <label for="opis">Namen</label>
                 <select class="form-control" ng-model="tranz.opis">
                  <option value='trgovina'>Trgovina</option>
                  <option value='racun'>Racuni</option>  
                  <option value='drugo'>Drugo</option> 
                  <option value='restavracija'>Restavracija</option> 
                </select>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" step="0.01" min=0 class="form-control" id="amount" placeholder="0.00" ng-model="tranz.amount">
                </div>
              </div>
              <select class="form-control" ng-model="tranz.type">
                <option value='debit'>Debit</option>
                <option value='credit'>Credit</option>
              </select>
              <button type="submit" class="btn btn-primary" ng-click="saveTransaction()">Shrani</button>
            </form>
          </div>
        </div>
        <hr />
        <p>
          <strong>Uredi transakcije po:</strong>
          <select ng-model="transType" class="form-control">
            <option value=''>Vseh</option>
            <option value='credit'>Credit</option>
            <option value='debit'>Debit</option>
          </select>
        </p>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Tip</th>
              <th>Namen</th>
              <th>Znesek</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in tList | filter: transType">
              <td ng-bind="row.type"></td>
              <td ng-bind="row.opis"></td>
              <td ng-bind="row.amount | currency"></td>
            </tr>
          </tbody>
        </table>
     
        <div class="bro">
         <div class="panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hitri kredit:</h3>
          </div>
          <br>
          <form class="form-horizontal">
               <div class="form-group form-group-sm">
                 <label class="col-sm-2 control-label" for="sm">IBAN</label>
               <div class="col-sm-4">
                   <input class="form-control" type="number" id="sm" placeholder="Vstavi IBAN">
               </div>
               </div>
              <div class="form-group form-group-sm">
                 <label class="col-sm-2 control-label" for="znesek">znesek kredita</label>
                 <div class="col-sm-4">
               <input class="form-control" type="number" id="znesek" placeholder="max 30,000">
                </div>
               </div>
                <div class="form-group form-group-sm">
                 <label class="col-sm-2 control-label" for="status">Status zaposlitve</label>
                 <div class="col-sm-4">
               <input class="form-control" type="text" id="status">
                </div>
              </div>
         </form>
         </div>
              <p>Čas odplačevanja? :</p>
          <form>
             <div class="radio-inline">
               <label><input type="radio" name="optradio">1 mesec</label>
             </div>
          <div class="radio-inline">
             <label><input type="radio" name="optradio">6 mesecov</label>
          </div>
          <div class="radio-inline">
            <label><input type="radio" name="optradio">12 mesecov</label>
          </div>
          </form>
          <form>
            <br>
             <div class="form-group">
              <label for="exampleFormControlFile1">Priložite potrdilo o zaposlitvi:</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
             </div>
          </form>
         <button type="submit" class="btn btn-primary mr-1">Pošlji obrazec</button>
        </div>
         
          <div class="card">
            <div class="panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Graf tedenske porabe:</h6>
            <br>
            <div class="card-body">

              <button type="button" class="btn btn-success"onclick="updateChart()">Prikazi prejsni teden</button>
            </div>
            <div class="card-body">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        
  </div>
<script>
  var olddata = [40, 5, 12, 60, 80, 30, 20];
  var newdata = [10, 20, 30, 40, 50, 60, 100];
  var olddata1 = [0, 10, 35, 40, 20, 30, 45];
  var newdata1= [0, 10, 35, 40, 20, 30, 45];
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: ['Ponedeljek', 'Torek', 'Sreda', 'Četretek', 'Petek', 'Sobota', 'Nedelja'],
      datasets: [{
        label: 'Trenutna poraba',
            //backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: olddata,
          },{
            label: 'Cilj porabe',
            //backgroundColor: 'rgb(8, 99, 132)',
            borderColor: 'rgb(8, 99, 132)',
            data: olddata1,
          }
          ]
        },

    // Configuration options go here
    options: {}
  });

  function updateChart() {
    chart.data.datasets[0].data = newdata;
    chart.data.datasets[1].data = newdata1;
    chart.update();
  };
</script>
</body>
</html>
 