.firstWord {
  font-family: 'Open Sans', sans-serif; font-weight: 500
}

.secondWord {
  font-family: 'Open Sans', sans-serif; font-weight: 400
}
col-md-12 {
float: left;
width: 30%;
 border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
}


h1 {
  color: black;
  text-align: center;
}
h4 {
  color: black;
  text-align: center;
}
h6 {
  color: black;
  text-align: center;

}

table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.exampleFormControlFile1 {
	text-align: center;
}
.bro {
	width:50%;
float:left;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;

}
.description {
	border: 2px solid gray;
  border-radius: 5px;
}

.card {
	width:50%;
float:left;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
}

